@page
@model WebCarRental.Pages.AdditionalServices.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AdditionalService[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdditionalService[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdditionalService[0].Title)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.AdditionalService) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ServiceCode">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ServiceCode">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ServiceCode">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
