@page
@model WebCarRental.Pages.Cars.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Car</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.DateOfLastMaintenance)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.DateOfLastMaintenance)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.ReturnMark)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.ReturnMark)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.RegistrationNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.RegistrationNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.SpecialMarks)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.SpecialMarks)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.RentalDayPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.RentalDayPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.CarPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.CarPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.Mileage)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.Mileage)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.BodyNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.BodyNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.EngineNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.EngineNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.YearOfRelease)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.YearOfRelease)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.BrandCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.BrandCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.EmployeeCodeNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.EmployeeCodeNavigation.Address)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Car.VehicleCode" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
